@font-face {
    font-family : (raleway);
    src :  url ( "font/Raleway-Medium.ttf" ) format ( 'ttf' );
}

corps {
    font-family : raleway;
    font-weight :  500 ;
    largeur :  80 % ;
    marge : automatique ;
    /*bordure : 1px noir solide ;*/
}
. svg {
    largeur :  20 px ;
    hauteur :  20 px ;
}
. svg_min {
    largeur :  12 px ;
    hauteur :  12 px ;
}
h1 {
    taille de police :  1,4 em ;
}

/* ENTÊTE */

en-tête {
    affichage : flexible ;
    flex-direction : rangée;
    justifier-contenu : espace-entre;
    align-items : ligne de base;
    marge-haut :  -16 px ;
}
en-tête  img {
    position : relative ;
    haut :  20 px ;
}
 div d'en- tête {
    affichage : flexible ;
    flex-direction : rangée;
    list-style-type : aucun;
    align-items : ligne de base;
}
en-tête  ul {
    affichage : flexible ;
    justifier-content : espace-autour ;
    flex-direction : rangée;
    list-style-type : aucun;
}
en-tête  li {
    border-top :  3 px solide rgba ( 0 ,  0 ,  0 ,  0 );
    rembourrage haut :  35 px ;
    affichage : flexible ;
    largeur :  8 cm ;
}
header  li  a : survolez {
    couleur :  # 0065FC ;
}
en-tête  li : survolez {
    border-top :  3 px solide # 0065FC ;
}
en-tête  a {
    texte-décoration : aucun;
    couleur : noir;
    marge-droite :  10 px ;
}
. s'inscrire {
    couleur :  # 0065FC ;
    font-weight : gras;
}


/* LA NAVIGATION */

. nav_form {
    affichage : flexible ;
    justifier-contenu : flex-start;
    hauteur :  40 px ;

}
formulaire  img {
    couleur de fond :  # f2f2f2 ;
    remplissage :  14 px  14 px  14 px  14 px ;
    border-radius :  1 em  0  0  1 em ;
}
saisir {
    bordure : aucune;
    font-weight :  700 ;
}
# recherche {
    bordure :  1 px solide # F2F2F2 ;
}
. form_summ {
    border-radius :  0  1 em  1 em  0 ;
    couleur de fond :  # 0065FC ;
    couleur :  # fff ;
}

. filtrer {
    affichage : flexible ;
    justifier-contenu : espace-entre;
    largeur max :  60 % ;
    font-weight : gras;
    marge supérieure :  50 px ;
}
. filtre_sel {
    affichage : flexible ;
    align-items : center;
    flex-wrap : nowrap;
    marge-gauche :  30 px ;
    bordure :  2 px solide # F2F2F2 ;
    rayon de bordure :  200 px ;
    texte-décoration : aucun;
    couleur : noir;
    hauteur max :  38 px ;
}
. f4 {
    min-width : fit-content;
}
. filtre_sel  img {
    remplissage :  10 px  10 px  10 px  10 px ;
    couleur-de-fond :  # DEEBFF ;
    rayon-bordure :  100 % ;
}
. filtre_sel  p {
    remplissage :  0  10 px  0  10 px ;
}
. filtre  a : survolez {
    couleur :  # 0065FC ;
}