/* General */

html,
body {
  font-family: raleway, Arial, Helvetica, sans-serif;
  /* Nom de police */
  margin: auto;
  /* Super-propriété de marge extérieure automatique en pixels */
}

body {
  margin: auto;
  /* Super-propriété de marge extérieure automatique en pixels */
  width: 1300px;
  /* Largeur en pixels */
}

.flex-container {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
}

.flexCentre {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  justify-content: center;
  /* alignés au centre */
  align-items: center;
  /*Un alignement sur l'axe secondaire permet de centrer complètement l'élément dans le conteneur */
}

.flexAround {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  justify-content: space-around;
  /* les éléments sont étirés sur tout l'axe, mais ils laissent aussi de l'espace sur les extrémités */
  align-items: center;
  /*Un alignement sur l'axe secondaire permet de centrer complètement l'élément dans le conteneur */
}

.flexBetween {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  justify-content: space-between;
  /* les éléments sont étirés sur tout l'axe, mais ils laissent aussi de l'espace sur les extrémités */
  align-items: stretch;
  /*Un alignement des éléments qui sont étirés sur tout l'axe dans le conteneur (valeur par défaut) */
}

.flexColumnCentre {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  flex-direction: column;
  /* Organisés sur une colonne */
  justify-content: center;
  /* Alignés au centre */
  align-items: center;
  /* Un alignement sur l'axe secondaire permet de centrer complètement l'élément dans le conteneur */
}

.flexColumnAround {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  flex-direction: column;
  /* Organisés sur une colonne */
  justify-content: space-around;
  /* les éléments sont étirés sur tout l'axe, mais ils laissent aussi de l'espace sur les extrémités */
}

.decorationNone {
  text-decoration: none;
  /* Pas de soulignement, ligne au-dessus, barré ou clignotant */
}

.bordureNone {
  border: none;
  /* Super-propriété de bordure */
}

.texteGras {
  font-weight: bold;
  /* Epaisseur de la police de carctère en gras */
}

.colorBleu {
  color: #0065fc;
  /* Couleur bleue de la police en hexadécimal */
}

.colorBleuClair {
  color: #deebff;
  /* Couleur blanche de la police en hexadécimal */
}

/* Recherches */

#search {
  border: 1px solid #f2f2f2;
  /* Super-propriété de bordure, bordure de 1 pixel et couleur blanche en hexadécimal  */
}

.search {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  border: 1px solid #d9d9d9;
  /* Super-propriété de bordure, bordure de 1 pixel et couleur blanche en hexadécimal */
  border-radius: 20px;
  /* Bordure arrondie en pixels */
  width: 38%;
  /* Largeur en pourcentage */
  height: 55px;
  /* Hauteur du bloc en pixels */
  justify-content: space-between;
  /* les éléments sont étirés sur tout l'axe, mais ils laissent aussi de l'espace sur les extrémités */
}

.mapmarker {
  background-color: #F2F2F2;
  /* Indique une couleur de fond blanc en hexadécimal */
  padding: 17px 18px 18px 18px;
  /* Marge intérieure en pixels */
  border-radius: 20px 0px 0px 20px;
  /* Bordure arrondie en pixels */
  font-size: 20px;
  /* Indique la taille du texte en pixels */
}

.research {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  justify-content: space-between;
  /* les éléments sont étirés sur tout l'axe, mais ils laissent aussi de l'espace sur les extrémités */
  width: 100%;
  /* Largeur en pourcentage */
}

.searchbutton {
  justify-content: right;
  /* Les éléments sont regroupés vers le bord droit du conteneur */
  color: white;
  /* Couleur blanche de la police */
  background-color: #0065FC;
  /* Indique une couleur de fond bleue en hexadécimal */
  border-radius: 0px 20px 20px 0px;
  /* Bordure arrondie en pixels */
  font-size: medium;
  /* Indique la taille moyenne du texte */
  padding: 15px;
  /* Marge intérieure en pixels */
}

.searchfield {
  color: black;
  /* Couleur noir de la police */
  font-weight: bold;
  /* Epaisseur de la police de carctère en gras */
  text-align: left;
  /* Texte alignement horizontal à gauche */
  font-size: medium;
  /* Indique la taille moyenne du texte */
  padding: 2px 2px 2px 20px;
  /* Marge intérieure en pixels */
}

.sinscrire {
  color: #0065fc;
  /* Couleur bleue de la police en hexadécimal */
  font-weight: bolder;
  /* le texte sera en gras */
}

.hebergement {
  color: #0065fc;
  /* Couleur bleue de la police en hexadécimal */
}

.svg {
  width: 20px;
  /* Largeuren pixels */
  height: 20px;
  /* Hauteur du bloc en pixels */
}

.svg_min {
  width: 12px;
  /* Largeuren pixels */
  height: 12px;
  /* Hauteur du bloc en pixels */
}

h1 {
  font-size: 1.4em;
  /* Indique la taille relative en pourcentage */
}

/* Header */

header {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  flex-direction: row;
  /* Organisés sur une ligne (par défaut) */
  justify-content: space-between;
  /* les éléments sont étirés sur tout l'axe, mais ils laissent aussi de l'espace sur les extrémités */
  align-items: baseline;
  /*Un alignement au début sur la ligne de base dans le conteneur */
  margin-top: -16px;
  /* Marge extérieure en haut en pixels */
}

header img {
  position: relative;
  /* Texte se décale */
  top: 20px;
  /* A 20px en haut */
}

header div {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  flex-direction: row;
  /* Organisés sur une ligne (par défaut) */
  list-style-type: none;
  /* Qui permet de retirer l'image ronde servant de puce */
  align-items: baseline;
  /*Un alignement au début sur la ligne de base dans le conteneur */
}

header ul {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  justify-content: space-around;
  /* les éléments sont étirés sur tout l'axe, mais ils laissent aussi de l'espace sur les extrémités */
  flex-direction: row;
  /* Positionnement sur une ligne (par défaut) */
  list-style-type: none;
  /* Qui permet de retirer l'image ronde servant de puce */
}

header li {
  border-top: 3px solid rgba(0, 0, 0, 0);
  /* diférente bordure du haut en ligne noir en hexadécimal solide de 3 pixels */
  padding-top: 35px;
  /* marge intérieure en haut en pixels */
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  width: 12em;
  /* Largeur (Sachant que 1em est un texte a une taille normale) */
}

header li a:hover {
  /* Quand la souris est sur le lien changement d'aspect */
  color: #0065fc;
  /* Couleur bleue de la police en hexadécimal */
}

header li:hover {
  /* Quand la souris est sur le lien changement d'aspect */
  border-top: 3px solid #0065fc;
  /* Mettre des bordures différentes en haut du cadre, bordure de 3 pixels et couleur bleue en hexadécimal */
}

header a {
  text-decoration: none;
  /* Pas de soulignement, ligne au-dessus, barré ou clignotant */
  color: black;
  /* Couleur noir de la police */
  margin-right: 10px;
  /* Marge extérieure à droite en pixels */
}

.register {
  color: #0065fc;
  /* Couleur bleue de la police en hexadécimal */
  font-weight: bold;
  /* Epaisseur de la police de carctère en gras */
}

/* Navigation */

.nav_form {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  justify-content: flex-start;
  /* Eléments alignés au début */
  height: 40px;
  /* Hauteur du bloc en pixels */
}

form img {
  background-color: #f2f2f2;
  /* Couleur de fond blanc en hexadécimal */
  padding: 14px 14px 14px 14px;
  /* Marge intérieure en pixels */
  border-radius: 1em 0 0 1em;
  /* Bordure arrondie taille relative en pourcentage */
}

input {
  border: none;
  /* Pas de bordure */
  font-weight: 700;
  /* Epaisseur de la police de carctère 700 pixels */
}

.form_summ {
  border-radius: 0 1em 1em 0;
  /* Bordure arrondie taille relative en pourcentage */
  background-color: #0065fc;
  /* Indique une couleur de fond bleue en hexadécimal */
  color: #fff;
  /*Couleur blanche de la police en hexadécimal */
}

/* Debut section filtre */

.filters {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  align-items: center;
  /*Un alignement sur l'axe secondaire permet de centrer complètement l'élément dans le conteneur */
}

.fas.fa-search {
  display: none;
  /* Pour masquer les éléments qui ont la classe « fas.fa-search » */
}

.category-head {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
}

.filterdescription {
  color: black;
  /* Couleur noir de la police */
  font-weight: bold;
  /* Epaisseur de la police de carctère en gras */
}

.icontextfilters {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  border: 2px solid #d9d9d9;
  /* Super-propriété de bordure, bordure de 2 pixels et de couleur blanche en hexadécimal */
  border-radius: 20px;
  /* Bordure arrondie en pixels */
  padding: 10px 10px 10px 10px;
  /* Marge intérieure en pixels */
  margin: 10px;
  /* Marge extérieure en pixels */
  justify-content: space-between;
  /* les éléments sont étirés sur tout l'axe, mais ils laissent aussi de l'espace sur les extrémités */
  color: black;
  /* Couleur noir de la police */
  font-weight: bold;
  /* Epaisseur de la police de carctère en gras */
}

/* Hebergements */

.sizeHebergements {
  flex-wrap: wrap;
  /* les éléments vont à la ligne lorsqu'il n'y a plus la place */
  flex: 2;
  /* Deux fois 200% plus de taille que l'élément .sizePopulaires */
  height: 650px;
  /* Hauteur du bloc en pixels */
  margin-right: 20px;
  /* marge extérieure à droite en pixels */
  border-radius: 10px;
  /* Bordure arrondie en pixels */
  background-color: #f2f2f2;
  /* Indique une couleur de fond blanc en hexadécimal */
}

.star {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  color: #0065fc;
  /* Couleur bleue de la police en hexadécimal */
  margin-bottom: 10px;
  /* Marge extérieure en bas en pixels */
}

.star_white {
  color: #f2f2f2;
  /* Couleur blanche de la police en hexadécimal */
}

h3 {
  margin: 10px 0px 0px 0px;
  /* Marge extérieure en pixels */
}

.conteneur_block_hebergements {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  flex-direction: column;
  /* Organisés sur une colonne */
  justify-content: flex-start;
  /* Eléments alignés au début */
  padding: 30px;
  /* Marge intérieure en pixels */
  width: 60%;
  /* Largeur en pourcentage */
  height: auto;
  /* la hauteur du bloc automatique */
  border-radius: 20px;
  /* Bordure arrondie en pixels */
  background-color: #f2f2f2;
  /* Indique une couleur de fond blanc en hexadécimal */
}

.hebergement_contener {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  flex-wrap: wrap;
  /* les éléments vont à la ligne lorsqu'il n'y a plus la place */
  justify-content: space-between;
  /* les éléments sont étirés sur tout l'axe, mais ils laissent aussi de l'espace sur les extrémités */
  margin-top: 10px;
  /* Marge extérieure en haut en pixels */

}

.heberg_texte {
  padding: 0px 0px 0px 10px;
  /* Marge intérieure en pixels */
}

.hebergements_miniature {
  background-color: white;
  /* Indique une couleur de fond blanc */
  width: 30%;
  /* Largeur en pourcentage */
  padding: 4px 4px 4px 4px;
  /* Marge intérieure en pixels */
  border-radius: 25px 25px 25px 25px;
  /* Bordure arrondie en pixels */
  margin: 10px 0px 10px 0px;
  /* Marge extérieure en pixels */
  color: black;
  /* Couleur noir de la police */
  box-shadow: 5px 5px 10px #deebff;
  /* Les ombres de la boîte, horizontal, vertical, adoucissement du dégradé, couleur de l'ombre en hexadécimal */
  font-size: medium;
  /* Indique la taille moyenne du texte */
  box-sizing: border-box;
  /* Définit la façon dont la hauteur et la largeur totale d'un élément est calculée, les propriétés width et height incluent le contenu, le remplissage (padding), la bordure, mais pas la marge */
}

.hebergements_miniature:hover {
  /* Quand la souris est sur le lien changement d'aspect */
  cursor: pointer;
  /* Pointeur fréquemment utilisé sur les liens ou les boutons */
  transform: scale(1.02);
  /* Permet de modifier la taille d'un élément avec un facteur d'échelle sur deux dimensions, pas de changement d'échelle avec un léger agrandissement */
}

.conteneur_block {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  justify-content: space-between;
  /* les éléments sont étirés sur tout l'axe, mais ils laissent aussi de l'espace sur les extrémités */
  align-items: stretch;
  /*Un alignement des éléments qui sont étirés sur tout l'axe dans le conteneur (valeur par défaut) */
  flex-direction: row;
  /* Positionnement sur une ligne (par défaut) */
  margin-bottom: 10px;
  /* Marge extérieure en bas en pixels */
  margin-top: 10px;
  /* Marge intérieure en haut en pixels  */
  width: 100%;
  /* Largeur en pourcentage */
  height: auto;
  /* la hauteur du bloc automatique */
  flex-wrap: wrap;
  /* les éléments vont à la ligne lorsqu'il n'y a plus la place */
}

.eHebergements {
  width: 30%;
  /* Largeur en pourcentage */
  height: auto;
  /* la hauteur du bloc automatique */
  background-color: white;
  /* Indique une couleur de fond blanc */
  padding: 1%;
  /* Marge intérieure en pixels */
  border-radius: 20px;
  /* Bordure arrondie en pixels */
}

.cubeDetailsHebergements {
  width: 95%;
  /* Largeur en pourcentage */
  background-color: #f2f2f2;
  /* Indique une couleur de fond blanc en hexadécimal */
}

.imgHebergements {
  background-size: cover;
  /* Permet d'ajuster la taille des images utilisées en arrière-plan et permet d'employer deux autres valeurs : contain et cover */
  background-position: left;
  /* Votre fond sera positionné à gauche */
  width: 100%;
  /* Largeur en pourcentage */
  height: 120px;
  /* Hauteur du bloc en pixels */
  border-radius: 20px 20px 0 0;
  /* Bordure arrondie en pixels */
}

.imgHebergements1 {
  background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  /* Image Hebergements1 */
}

.imgHebergements2 {
  background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  /* Image Hebergements2 */
}

.imgHebergements3 {
  background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  /* Image Hebergements3 */
}

.imgHebergements4 {
  background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  /* Image Hebergements4 */
}

.imgHebergements5 {
  background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  /* Image Hebergements5 */
}

.imgHebergements6 {
  background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  /* Image Hebergements6 */
}

.afficher_plus {
  color: black;
  /* Couleur noir de la police */
  font-weight: bold;
  /* Epaisseur de la police de carctère en gras */
  text-decoration: none;
  /* Pas de soulignement, ligne au-dessus, barré ou clignotant */
  margin-top: 25px;
  /* Marge extérieure en haut en pixels */
}

/* Les plus populaires */

.imagespopulaires {
  width: 40%;
  /* Largeur en pourcentage */
  border-radius: 10px 0px 0px 10px;
  /* Bordure arrondie en pixels */
  margin: 0% 5% 0% 0%;
  /* Marge extérieure en pixels */
  background-size: cover;
  /* Permet d'ajuster la taille des images utilisées en arrière-plan et permet d'employer deux autres valeurs : contain et cover */
  background-position: center;
  /* Votre fond sera positionné au centre */
}

.imgPopulaires1 {
  background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  /* Image Populaires1 */
}

.imgPopulaires2 {
  background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
  /* Image Populaires2 */
}

.imgPopulaires3 {
  background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  /* Image Populaires3 */
}

.texte_populaires {
  width: 60%;
  /* Largeur en pourcentage */
}

.box1 {
  justify-content: space-between;
  /* les éléments sont étirés sur tout l'axe, mais ils laissent aussi de l'espace sur les extrémités */
  align-items: center;
  /*Un alignement sur l'axe secondaire permet de centrer complètement l'élément dans le conteneur */
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
}

.populaires_miniature {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  background-color: white;
  /* Indique une couleur de fond blanc */
  height: 140px;
  /* Hauteur du bloc en pixels */
  padding: 5px;
  /* Marge intérieure en pixels */
  background-position: 10px 50px;
  /* Votre fond sera positionné sur l'axe des X à 10 pixels et sur l'axe des Y à 50 pixels */
  border-radius: 15px 15px 15px 15px;
  /* Bordure arrondie en pixels */
  margin-bottom: 40px;
  /* Marge extérieure en bas en pixels */
  margin-top: 20px;
  /* Marge extérieure en haut en pixels */
  color: black;
  /* Couleur noir de la police */
  box-shadow: 5px 5px 10px #deebff;
  /* Les ombres de la boîte, horizontal, vertical, adoucissement du dégradé, couleur de l'ombre en hexadécimal */
  font-size: medium;
  /* Indique la taille moyenne du texte */
}

.populaires_miniature:last-child {
  margin-bottom: 0px;
  /* Marge extérieure en bas en pixels */
}


.populaires_miniature:hover {
  /* Quand la souris est sur le lien changement d'aspect */
  cursor: pointer;
  /* Pointeur fréquemment utilisé sur les liens ou les boutons */
  transform: scale(1.02);
  /* Permet de modifier la taille d'un élément avec un facteur d'échelle sur deux dimensions, pas de changement d'échelle avec un léger agrandissement */
}

.populaire_contener {
  padding: 30px 30px 0px 30px;
  /* Marge intérieure en pixels */
  width: 27%;
  /* Largeur en pourcentage */
  height: auto;
  /* la hauteur du bloc automatique */
  border-radius: 20px;
  /* Bordure arrondie en pixels */
  background-color: #f2f2f2;
  /* Indique une couleur de fond blanc en hexadécimal */
}

.sizePopulaires {
  flex: 1;
  /* Une fois 100% plus de taille que l'élément .sizeHebergements */
  height: 650px;
  /* Hauteur du bloc en pixels */
  margin-left: 20px;
  /* Marge extérieure à gauche en pixels */
  border-radius: 10px;
  /* Bordure arrondie en pixels */
  background-color: #f2f2f2;
  /* Indique une couleur de fond blanc en hexadécimal */
}

/* Filtres */

.filtre {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  justify-content: space-between;
  /* les éléments sont étirés sur tout l'axe, mais ils laissent aussi de l'espace sur les extrémités */
  max-width: 60%;
  /* largeur maximale 60%, dimensions « limites » pour que notre site s'adapte aux différentes résolutions d'écran */
  font-weight: bold;
  /* Epaisseur de la police de carctère en gras */
  margin-top: 50px;
  /* Marge extérieure en haut en pixels */
}

.iconefilter {
  background-color: #deebff;
  /* Indique une couleur de fond blanc en hexadécimal */
  margin: -12px 10px -12px -12px;
  /* Marge extérieure en pixels s'applique en haut, à droite, en bas, à gauche */
  padding: 12px;
  /* Marge intérieure en pixels */
  border-radius: 50%;
  /* Bordure arrondie en pourcentage */
  color: #0065FC;
  /* Couleur bleue de la police en hexadécimal */
}

.filtre_sel P {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  align-items: center;
  /*Un alignement sur l'axe secondaire permet de centrer complètement l'élément dans le conteneur */
  flex-wrap: nowrap;
  /* lorsqu'ils n'ont plus la place les blocs, pas de retour à la ligne (par défaut) */
  margin-left: 30px;
  /* Marge extérieure à gauche en pixels */
  padding: 0 10px 0 10px;
  /* Marge intérieure en pixels */
  border: 2px solid #f2f2f2;
  /* Super-propriété de bordure, bordure de 2 pixels et de couleur blanche en hexadécimal */
  border-radius: 200px;
  /* Bordure arrondie en pixels */
  text-decoration: none;
  /* Pas de soulignement, ligne au-dessus, barré ou clignotant */
  color: black;
  /* Couleur noir de la police */
  max-height: 38px;
  /* Hauteur maximale pour s'adapter aux différentes résolutions d'écran */
}

.f4 {
  min-width: fit-content;
  /* largeur minimale pour s'adapter aux différentes résolutions d'écran */
}

.filtre_sel img {
  padding: 10px 10px 10px 10px;
  /* Marge intérieure en pixels */
  background-color: #deebff;
  /* Indique une couleur de fond blanc en hexadécimal */
  border-radius: 100%;
  /* Bordure arrondie en pourcentage */
}

.filtre a:hover

/* Quand la souris est sur le lien changement d'aspect */
  {
  color: #0065fc;
  /* Couleur bleue de la police en hexadécimal */
}

/* Fin de section des filtres */

/*Debut section information */

.info {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  align-items: center;
  /*Un alignement sur l'axe secondaire permet de centrer complètement l'élément dans le conteneur */
  color: black;
  /* Couleur noir de la police */
}

.iconinfo {
  margin: 0 10px 0 0;
  /* Marge extérieure en pixels */
  border-radius: 50%;
  /* Bordure arrondie en pourcentage */
  border: 1px solid #d9d9d9;
  /* Super-propriété de bordure, bordure solide de 1 pixel et de couleur blanche en hexadécimal */
  padding: 3px 8px;
  /* Marge intérieure en pixels */
  color: #0065fc;
  /* Couleur bleue de la police en hexadécimal */
  font-size: 12px;
  /* Indique la taille du texte en pixels */
}

/* Debut de la section 3*/

/*Activités*/

.flexColumnBetween {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  flex-direction: column;
  /* Organisés sur une colonne */
  justify-content: space-between;
  /* les éléments sont étirés sur tout l'axe, mais ils laissent aussi de l'espace sur les extrémités */
}

.blocActivites {
  width: 100%;
  /* Largeur en pourcentage */
  height: 600px;
  /* Hauteur du bloc en pixels */
}

.blocActivites2356 {
  width: 23%;
  /* Largeur en pourcentage */
  height: 600px;
  /* la hauteur du bloc */
}

/* Reglage bloc */

.cubeActivites {
  width: 23%;
  /* Largeur en pourcentage */
  border-radius: 15px 15px;
  /* Bordure arrondie en pixels */
  box-shadow: 5px 5px 5px 1px #f2f2f2;
  /* Les ombres de la boîte, horizontal, vertical, adoucissement du dégradé, couleur de l'ombre en hexadécimal */
}

.cubeActivites2356 {
  width: 100%;
  /* Largeur en pourcentage */
  border-radius: 15px 15px;
  /* Bordure arrondie en pixels */
  box-shadow: 5px 5px 5px 1px #f2f2f2;
  /* Les ombres de la boîte, horizontal, vertical, adoucissement du dégradé, couleur de l'ombre en hexadécimal */
}

.cubeActivites2356:hover,
.cubeActivites:hover {
  /* Quand la souris est sur le lien changement d'aspect */
  cursor: pointer;
  /* Pointeur fréquemment utilisé sur les liens ou les boutons */
  transform: scale(1.02);
  /* Permet de modifier la taille d'un élément avec un facteur d'échelle sur deux dimensions, pas de changement d'échelle avec un léger agrandissement */
}

/* Fin de reglage bloc */

.hauteurTitre {
  height: 70px;
  /* la hauteur du bloc */
}

.titreMarseille {
  margin-bottom: 20px;
  /* Marge extérieure en bas en pixels */
  margin-top: 30px;
  /* Marge extérieure en haut en pixels */
}

.titreActivites {
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  justify-content: flex-start;
  /* Eléments alignés au début */
  align-items: center;
  /*Un alignement sur l'axe secondaire permet de centrer complètement l'élément dans le conteneur */
  padding-left: 5%;
  /* Marge intérieure à gauche */
  width: 95%;
  /* Largeur en pourcentage */
  font-size: medium;
  /* Indique la taille moyenne du texte */
}

.imgActivites1 {
  background-image: url("./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  /* Image imgActivites1 */
  background-size: cover;
  /* Permet d'ajuster la taille des images utilisées en arrière-plan et permet d'employer deux autres valeurs : contain et cover */
  background-position: center;
  /* Votre fond sera positionné au centre */
  width: 100%;
  /* Largeur en pourcentage */
  height: 100%;
  /* Hauteur du bloc en pourcentage */
  border-radius: 15px 15px 0px 0px;
  /* Bordure arrondie en pixels */
}

.imgActivites2 {
  background-image: url("./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  /* Image imgActivites2 */
  background-size: cover;
  /* Permet d'ajuster la taille des images utilisées en arrière-plan et permet d'employer deux autres valeurs : contain et cover */
  background-position: center;
  /* Votre fond sera positionné au centre */
  width: 100%;
  /* Largeur en pourcentage */
  height: 200px;
  /* Hauteur du bloc en pixels */
  border-radius: 15px 15px 15px 15px;
  /* Bordure arrondie en pixels */
}

.imgActivites3 {
  background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  /* Image imgActivites3 */
  background-size: cover;
  /* Permet d'ajuster la taille des images utilisées en arrière-plan et permet d'employer deux autres valeurs : contain et cover */
  background-position: center;
  /* Votre fond sera positionné au centre */
  width: 100%;
  /* Largeur en pourcentage */
  height: 200px;
  /* Hauteur du bloc en pixels */
  border-radius: 15px 15px 15px 15px;
  /* Bordure arrondie en pixels */
}

.imgActivites4 {
  background-image: url("./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  /* Image imgActivites4 */
  background-size: cover;
  /* Permet d'ajuster la taille des images utilisées en arrière-plan et permet d'employer deux autres valeurs : contain et cover */
  background-position: center;
  /* Votre fond sera positionné au centre */
  width: 100%;
  /* Largeur en pourcentage */
  height: 530px;
  /* Hauteur du bloc en pixels */
  border-radius: 15px 15px 15px 15px;
  /* Bordure arrondie en pixels */
}

.imgActivites5 {
  background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  /* Image imgActivites5 */
  background-size: cover;
  /* Permet d'ajuster la taille des images utilisées en arrière-plan et permet d'employer deux autres valeurs : contain et cover */
  background-position: center;
  /* Votre fond sera positionné au centre */
  width: 100%;
  /* Largeur en pourcentage */
  height: 200px;
  /* Hauteur du bloc en pixels */
  border-radius: 15px 15px 15px 15px;
  /* Bordure arrondie en pixels */
}

.imgActivites6 {
  background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  /* Image imgActivites6 */
  background-size: cover;
  /* Permet d'ajuster la taille des images utilisées en arrière-plan et permet d'employer deux autres valeurs : contain et cover */
  background-position: center;
  /* Votre fond sera positionné au centre */
  width: 100%;
  /* Largeur en pourcentage */
  height: 200px;
  /* Hauteur du bloc en pixels */
  border-radius: 15px 15px 15px 15px;
  /* Bordure arrondie en pixels */
}

 /* Footer */

footer {
  color: black;
  /* Couleur noir de la police */
  display: flex;
  /* les blocs se placent horizontalement côte à côte par défaut */
  flex-wrap: wrap;
  /* Les éléments vont à la ligne lorsqu'il n'y a plus la place */
  border: 2px #d9d9d9;
  /* Super-propriété de bordure, bordure de 2 pixels et de couleur blanche en hexadécimal */
  padding: 10px 10px 10px 10px;
  /* Marge intérieure en pixels */
  margin: 50px 1px 30px 1px;
  /* Marge extérieure en pixels */
  width: 100%;
  /* Largeur en pourcentage */
  justify-content: space-around;
  /*Pour changer l'alignement horizontal les éléments sont étirés sur tout l'axe (il y a de l'espace entre eux) */
  background-color: #f2f2f2;
  /* Indique une couleur de fond blanc en hexadécimal */
  font-size: medium;
  /* Indique la taille moyenne du texte */
  align-items: baseline;
  /*Un alignement au début sur la ligne de base dans le conteneur */
}

ul {
  list-style-type: none;
  /* Qui permet de retirer l'image ronde servant de puce */
}

li {
  text-align: left;
  /* Texte alignement horizontal à gauche */
  line-height: 2em;
  /* Hauteur de ligne avec deux fois la taille */
  justify-content: center;
  /* alignés au centre */
}

h4 {
  justify-content: space-between;
  /* les éléments sont étirés sur tout l'axe, mais ils laissent aussi de l'espace sur les extrémités */
  padding-left: 40px;
  /* Marge intérieure gauche */
  font-weight: bold;
  /* Epaisseur de la police de carctère en gras */
}

p {
  font-weight: lighter;
  /* Epaisseur de la police de carctère légère */
  margin: 9px 0px;
  /* Marge extérieure en pixels */
}

/* Version responsive */

@media all and (min-width: 320px) and (max-width: 1023px) {
  /* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */

  .search {
    justify-content: center;
    /* alignés au centre */
    width: auto;
    /* Largeur automatique */
  }

  .flex-container {
    width: 100%;
    /* Largeur en pourcentage */
  }

  .menu {
    width: 50%;
    /* Largeur en pourcentage */
    padding-top: 24px;
    /* marge intérieure en haut en pixels */
    padding-bottom: 10px;
    /* Marge intérieure en bas en pixels */
    font-size: 15px;
    /* Indique la taille du texte en pixels */
    text-align: center;
    /* Texte alignement horizontal à droite */
    display: block;
    /* Eléments en forme de blocs, se positionnent les uns en dessous des autres et peuvent être redimensionnés les uns en dessous des autres */
  }

  .menu:last-child {
    width: 0;
    /* Largeur en pourcentage */
  }

  .searchbutton {
    display: none;
    /* Pour masquer les éléments qui ont la classe « searchbutton » */
  }

  .fas.fa-search {
    background-color: #0065FC;
    /* Indique une couleur de fond bleue en hexadécimal */
    border-radius: 10px;
    /* Bordure arrondie en pixels */
    padding: 16px;
    /* Marge intérieure en pixels */
    color: white;
    /* Couleur blanche de la police */
    display: block;
    /* Eléments en forme de blocs, se positionnent les uns en dessous des autres et peuvent être redimensionnés les uns en dessous des autres */
  }

  .sinscrire {
    position: absolute;
    /* positionnement absolu */
    top: 45px;
    /* positionnement absolu en haut en pixels */
    right: 0px;
    /* positionnement absolu à droite en pixels */
  }

  .category-head {
    flex-direction: row;
    /* Organisés sur une ligne */
    flex-wrap: wrap;
    /* les éléments vont à la ligne lorsqu'il n'y a plus la place */
  }

  .filters {
    flex-direction: column;
    /* Organisés sur une colonne */
    flex-wrap: wrap;
    /* les éléments vont à la ligne lorsqu'il n'y a plus la place */
    width: auto;
    /* Largeur automatique */
    align-items: flex-start;
    /* les blocs sont alignés au début côte à côte */
    padding: 0px 20px;
    /* Marge intérieure en pixels */
  }

  .icontextfilters {
    margin-left: 0;
    /* Marge extérieure à gauche en pixels */
  }

  h1 {
    font-size: 1.3em;
    /* Indique la taille relative en pourcentage */
  }

  nav {
    flex-direction: column;
    /* Organisés sur une colonne */
    width: 100%;
    /* Largeur en pourcentage */
    text-align: left;
    /* Texte alignement horizontal à gauche */
  }

  nav ul {
    display: flex;
    /* les blocs se placent horizontalement côte à côte par défaut */
    list-style-type: none;
    /* Qui permet de retirer l'image ronde servant de puce */
    width: 100%;
    /* Largeur en pourcentage */
    padding: 0;
    /* Marge intérieure en pixels */
    text-align: center;
    /* Texte alignement horizontal au centre */
  }

  nav li {
    padding-left: 4px;
    /* Marge intérieure gauche */
    flex-direction: column;
    /* Organisés sur une colonne */
  }

  nav a {
    font-size: 1.1em;
    /* Indique la taille relative en pourcentage */
    flex-direction: column;
    /* Organisés sur une colonne */
  }

  nav a:hover {
    border-bottom: 0;
    /* Spécifier le style, l'épaisseur, la couleur de la bordure basse */
    flex-direction: column;
    /* Organisés sur une colonne */
  }

  body {
    color: black;
    /* Couleur noir de la police */
    font-size: 1.2em;
    /* Indique la taille relative en pourcentage */
    width: 100%;
    /* Largeur en pourcentage */
  }

  header {
    flex-direction: column;
    /* Organisés sur une colonne */
    width: auto;
    /* Largeur automatique */
    align-items: flex-start;
    /* les blocs sont alignés au début côte à côte */
    padding: 30px 0px 0px 0px;
    /* Marge intérieure en pixels */
  }

  header img {
    margin-left: 20px;
    /* Marge extérieure à gauche en pixels */
  }

  header li:hover {
    /* Quand la souris est sur le lien changement d'aspect */
    border-bottom: 3px solid #0065fc;
    /* Super-propriété de bordure basse, bordure solide de 3 pixels et de couleur bleue en hexadécimal */
    border-top: none;
    /* Ne pas mettre des bordures différentes en haut du cadre en ligne bleue solide */
  }

  .recherche {
    padding: 0px 20px;
  }

  .conteneur_block {
    flex-direction: column-reverse;
    /* Organisés sur une colonne avec les éléments inversés */
  }

  .info {
    margin-left: 20px;
    /* Marge extérieure à gauche en pixels */
  }

  .populaire_contener {
    flex-direction: column;
    /* Organisés sur une colonne */
    justify-content: center;
    /* alignés au centre */
    width: auto;
    /* Largeur automatique */
    align-items: flex-start;
    /* les blocs sont alignés au début côte à côte */
    flex-wrap: wrap;
    /* les éléments vont à la ligne lorsqu'il n'y a plus la place */
    padding-bottom: 50px;
    /* Marge intérieure en bas en pixels */
    border-radius: 0px;
    /* Bordure arrondie en pixels */
  }

  .conteneur_block_hebergements {
    flex-direction: column;
    /* Organisés sur une colonne */
    justify-content: center;
    /* alignés au centre */
    width: auto;
    /* Largeur automatique */
    align-items: stretch;
    /*Un alignement des éléments qui sont étirés sur tout l'axe dans le conteneur (valeur par défaut) */
    flex-wrap: wrap;
    /* les éléments vont à la ligne lorsqu'il n'y a plus la place */
    background-color: transparent;
    /* Indique une couleur de fond transparente */
  }

  .hebergement_contener {
    flex-direction: column;
    /* Organisés sur une colonne */
    justify-content: center;
    /* alignés au centre */
    width: auto;
    /* Largeur automatique */
    align-items: stretch;
    /*Un alignement des éléments qui sont étirés sur tout l'axe dans le conteneur (valeur par défaut) */
    flex-wrap: wrap;
    /* les éléments vont à la ligne lorsqu'il n'y a plus la place */
    font-size: 1.2em;
    /* Indique la taille relative en pourcentage */
  }

  .hebergements_miniature {
    width: 100%;
    /* Largeur en pourcentage */
  }

  .Activites {
    margin: 0px 30px 0px 30px;
    /* Marge extérieure en pixels */
  }

  .activitesection {
    flex-direction: column;
    /* Organisés sur une colonne */
    justify-content: center;
    /* alignés au centre */
    width: auto;
    /* Largeur automatique */
    flex-wrap: wrap;
    /* les éléments vont à la ligne lorsqu'il n'y a plus la place */
  }

  .flexBetween {
    flex-direction: column;
    /* Organisés sur une colonne */
    width: auto;
    /* Largeur automatique */
  }

  .cubeActivites {
    width: 100%;
    /* Largeur en pourcentage */
    margin: 0px 0px 20px 0px;
  }

  .blocActivites2356 {
    width: 100%;
    /* Largeur en pourcentage */
    height: auto;
    /* Hauteur du bloc en pourcentage */
  }

  .blocActivites {
    height: auto;
    /* Hauteur du bloc en pourcentage */
  }

  .imgActivites1,
  .imgActivites2,
  .imgActivites3,
  .imgActivites4,
  .imgActivites5,
  .imgActivites6 {
    width: 100%;
    /* Largeur en pourcentage */
    height: 200px;
    /* Hauteur du bloc en pixels */
  }

  footer {
    flex-direction: column;
    /* Organisés sur une colonne */
    margin: 50px 0px 0px 0px;
  }

}